body{
    text-align: center;
}
div { 
    width: 400px;
    height: auto;
    margin: auto;
    font-size:  100px;
    
}
table {
    text-align: center;
    background-color:#3da4df
    ;
    margin: auto;
    
    font-size: 60px;
    border-radius: 20px;
}
td{
    height: 100px;
    width: 100px;
    background-color: #F9C8D9;
    border-radius: 10px;
}
td:hover {
    background-color:#7D7F7D;
    cursor: pointer;
}
.restart{
font-size: 50px;
border-radius: 20px;
margin: auto;
}